/node_modules
/public/hot
/public/storage
/public/gmail/**/**
/storage/app/public/gmail/**
/storage/app/gmail/tokens/**
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
